<% unless current_user %>
<table border="1" width="100%" cellpadding="20">
	<tr>
		<td valign="top">
				<h2>Вход</h2>
				
				<div class="r-star">
					<div class="cn tl"></div>
					<div class="cn tr"></div>
                
					<div class="r-star-content">
						<% form_tag session_path do -%>
						<p><%= label_tag 'login', 'Логин' %><br />
						<%= text_field_tag 'login', @login %></p>

						<p><%= label_tag 'password', 'Пароль' %><br/>
						<%= password_field_tag 'password', nil %></p>

						<!-- Uncomment this if you want this functionality
						<p><%= label_tag 'remember_me', 'Remember me' %>
						<%= check_box_tag 'remember_me', '1', @remember_me %></p>
						-->

						<p><%= submit_tag 'Войти &rarr;' %></p>
						<% end -%>
					</div>
                
					<div class="cn bl"></div>
					<div class="cn br"></div>
				</div>
				
		</td>
		<td valign="top">
			<h2>Регистрация</h2>
			<% rounded_block do %>
				<% @user.password = @user.password_confirmation = nil %>

				<%= error_messages_for :user %>
				
				<% form_for :user, :url => users_path do |f| -%>
				<p><%= label_tag 'login', 'Логин' %><br/>
				<%= f.text_field :login %></p>

				<p><%= label_tag 'email', 'Электропочта' %><br/>
				<%= f.text_field :email %></p>

				<p><%= label_tag 'password', 'Пароль' %><br/>
				<%= f.password_field :password %></p>

				<p><%= label_tag 'password_confirmation', 'Подтверждение пароля' %><br/>
				<%= f.password_field :password_confirmation %></p>

				<p><%= submit_tag 'Sign up' %></p>
				<% end -%>
			<% end %>
		</td>
	</tr>
</table>
<% end %>
<% if current_user %>

	<% form_for :order, :url => { :action => :save_order } do |form| %>
		<h1>Параметры заказа</h1>
		<% rounded_block do %>
			
			<p>
				<%= form.label :full_name, "Получатель заказа:" %><br />
				<%= form.text_field :full_name, :size => 50 %>
			</p>
			<p>
				<%= form.label :phone, "Контактный телефон:" %><br />
				<%= form.text_field :phone, :size => 50 %>
			</p>
			<p>
				<%= form.label :address, "Адрес доставки заказа:" %><br />
				<%= form.text_field :address, :size => 50 %>
			</p>
			<p> 
				<%= form.label :pay_type, "Способ оплаты заказа:" %> <br /><br />
				<%= form.select :pay_type, Order::PAYMENT_TYPES, :prompt => "Выбрите способ оплаты ..." %> 
			</p>
			<p> 
				<%= form.label :pay_type, "Способ доставки заказа:" %> <br /><br />
				<%= form.select :delivery_type, Order::DELIVERY_METHODS, :prompt => "Выбрите способ доставки..." %> 
			</p>
			<p>
				<%= form.label :comment, "Дополнительная информация по заказу:" %><br />
				<%= form.text_area :comment, :rows => 10, :cols => 48 %>
			</p>
			<%= form.submit "Отправить заказ &rarr;" %>
		<% end %>
	<% end %>
<% end %>