<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title><%= yield(:title) || "Медиа Элит"  %></title>
		<%= stylesheet_link_tag "application", "r-star" %>
		<%= javascript_include_tag :defaults %>
		<%= yield(:head) %>
	</head>
	<body>
		
		<%= render :partial => "home/header" %>
		
		<% flash.each do |type, msg| %>
			<%= content_tag :div, (content_tag :div, "Системное сообщение: #{msg}", :class => type, :id => "flash_#{type}"), :id => "flash_message" unless flash.empty? %>
			<% javascript_tag visual_effect(:fade, "flash_#{type}") %>
		<% end %>
		
		<%= yield %>
		
	</body>
</html>
